<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    
    <div class="container">
        <div class="box">
            <center><h1 class="bluetxt">New Dojo</h1></center>
            <h4>Name:</h4>
            <form action="/add_dojo" method="post">
                <div>
                    <label for="name"></label>
                    <input type="text" name="name">
                </div><br>
                <input type="submit" value="Add Dojo" class="btn btnshape">
            </form>
            <br>
        </div>
        
        <div class="box2">
            <h1 class="bluetxt">All Dojos</h1>
            {% for dojo in all_dojos %}
            <div>
                <a href="/show_dojo/{{dojo.ID}}"><p class="yellowtxt">{{ dojo.name }}</p></a>
            </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
    <a href="/new"><input type="submit" value="Add Ninja" class="btnshape" style="margin-left:15%;"></a>

</body>
</html>